.example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .registration-form-div {
    justify-content: center;
  }

  .name-input {
      justify-content: center;
      width: 40%;
  }

  .name-col {
        justify-content: center;
        width: 125%;
  }

  .last-name {
      padding-left: 5px;
  }

  .form-submit {
        justify-content: center;
        width: 100%;
  }